body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    display: block;
    color: #2C447a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #2C447a;
    color: white;
}

.navbar a.active {
    background-color: #2C447a;
    color: white;
}

.navbar .icon {
    display: none;
}

.text-box {
    width: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-40%, 0%);
    top: 8%;
    display: flex;
    flex-direction: row;
    color: #2C447a;
}

img.main-icon {
    height: 150px;
}

@media screen and (max-width: 900px) {
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
    .text-box {
        flex-direction: column;
    }
    img.main-icon {
        width: 250px;
        height: 250px;
        position: relative;
        left: 15%;
    }
}

@media screen and (max-width: 700px) {
    .navbar.responsive {
        position: relative;
        top: auto;
    }
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
        background-color: #305abd;
        color: white;
    }
    body {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    img.main-icon {
        width: 180px;
        height: 180px;
    }
    .text-box {
        left: 40%;
        width: 200px;
    }
}