<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dredd | Staff Applications</title>
    <link rel="icon" href="{{ icon }}">
    <!-- Discord Stuff -->
    <meta property="og:title" content="Dredd | Staff Applications">
    <meta property="og:description" content="Dredd's staff application forms">
    <meta property="og:image" itemprop="image" content="{{ icon }}">
    <meta property="og:locale" content="en_US">
    <meta name="theme-color" content="{{ color }}">
    <!-- Style sheets, scripts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body style='background-color: #818CF8;' id='body'>
    {% extends "default/base.html" %} {% block content %}
    <div class='container' style='margin-top: 10px;'>
        <div class='card text-white bg-dark'>
            <div class='card-header text-center'>
                Submitted Staff Applications
            </div>
            <div class='container'>
                {% for app in applications %} {% if app['userID'] %} {% if app['status'] == 0 %}
                <a class='btn btn-info mb-4 mx-auto d-block' href="/staff/applications/{{ app['userID'] }}" style='margin-top: 10px; '>Not reviewed: {{ bot.try_user(app['userID']) }}</a> {% elif app['status'] == 1 %}
                <a class='btn btn-success mb-4 mx-auto d-block' href="/staff/applications/{{ app['userID'] }}" style='margin-top: 10px; '>Approved: {{ bot.try_user(app['userID']) }}</a> {% elif app['status'] == 2 %}
                <a class='btn btn-danger mb-4 mx-auto d-block' href="/staff/applications/{{ app['userID'] }}" style='margin-top: 10px; '>Declined: {{ bot.try_user(app['userID']) }}</a> {% endif %} {% endif %}{% endfor %}
                <a class="btn btn-info mb-4 mx-auto" href='/staff/' style='margin-top: 10px; '><i class="fas fa-arrow-alt-circle-left"></i> Go Back</a>
            </div>
        </div>
    </div>{% endblock %}
</body>

</html>