<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dredd | Staff Page</title>
    <link rel="icon" href="{{ icon }}">
    <!-- Discord Stuff -->
    <meta property="og:title" content="Dredd | Staff Page">
    <meta property="og:description" content="Dredd's website staff page, manage applications, announcements here.">
    <meta property="og:image" itemprop="image" content="{{ icon }}">
    <meta property="og:locale" content="en_US">
    <meta name="theme-color" content="{{ color }}">
    <!-- Style sheets, scripts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body style='background-color: #818CF8;' id='body'>
    {% extends "default/base.html" %} {% block content %}
    <div class='container' style='margin-top: 15px;'>
        <div class='card text-white bg-dark text-center'>
            <div class='card-header'>Website Management</div>
            <div class='card-body'>
                <form method='POST'>
                    <p>Staff apps</p>
                    <select class="form-control" name='staff_apps'>
                        {% if staff %}
                        <option selected value='enabled'>Enabled</option>
                        <option value='disabled'>Disabled</option>
                        {% elif not staff %}
                        <option value='enabled'>Enabled</option>
                        <option selected value='disabled'>Disabled</option>
                        {% endif %}
                        </select>
                    <p style='margin-top: 10px;'>Website Announcement</p>
                    <textarea class="form-control" name="announcement" placeholder="...">{{ announcement if announcement else ''}}</textarea>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="color" id="inlineRadio1" value="#E67E22">
                        <label class="form-check-label" for="inlineRadio1" style='color: #E67E22;'>Orange</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="color" id="inlineRadio2" value="#1471B3">
                        <label class="form-check-label" for="inlineRadio2" style='color: #1471B3;'>Light blue</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="color" id="inlineRadio3" value="#E24C3E">
                        <label class="form-check-label" for="inlineRadio3" style='color: #E24C3E;'>Red</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="color" id="inlineRadio3" value="#21AF1B">
                        <label class="form-check-label" for="inlineRadio3" style='color: #21AF1B;'>Green</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="inlineRadio3">Custom color: <input type="color" id="body" name="color" value="{% if announcement_color %}{{ announcement_color }}{% else %}#FFF{% endif %}"></label>
                    </div>
                    <p style='margin-top: 10px;'>Block new invites</p>
                    <textarea class="form-control" name="bot-invite" placeholder="...">{{ reason if reason else ''}}</textarea>
                    <div class='container'>
                        <button type="submit" class="btn btn-success mb-4 mx-auto" style=' margin-top: 10px; '><i class="fas fa-check"></i> Submit</button>
                        <a class="btn btn-info mb-4 mx-auto" href='/staff/applications' style='margin-top: 10px; '><i class="fas fa-file-alt"></i> Staff Applications <span class="badge badge-light">{{ applications | length }}</span></a>
                    </div>
                </form>
                {% if success %}
                <p class='text-center '>Successfully {{ success }}</p>
                {% endif %}

            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>