<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dredd | Error Occured</title>
    <link rel="icon" href="{{ not_found_icon }}">
    <!-- Discord Stuff -->
    <meta property="og:title" content="Dredd">
    <meta property="og:description" content="This page has no description...">
    <meta property="og:image" itemprop="image" content="{{ icon }}">
    <meta property="og:locale" content="en_US">
    <meta name="theme-color" content="{{ color }}">
    <!-- Style sheets, scripts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta2/css/all.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YRMRTNJFRP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YRMRTNJFRP');
    </script>
</head>

<body style='background-color:#242629; color: #fffffe' id='body'>
    {% extends 'default/base.html' %} {% block content %}

    <h1 class="text-center"><i class="fas fa-exclamation"></i> Error occured</h1>
    <h3 class="text-center">It has been reported to the site owners.</h3>
    <p class='text-center'>{{ error }}</p>

    {% endblock %}
</body>

</html>
