<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dredd | About</title>
    <link rel="icon" href="{{ icon }}">
    <!-- Discord Stuff -->
    <meta property="og:title" content="Dredd | About">
    <meta property="og:description" content="About Dredd. What is Dredd?">
    <meta property="og:image" itemprop="image" content="{{ icon }}">
    <meta property="og:locale" content="en_US">
    <meta name="theme-color" content="{{ color }}">
    <!-- Style sheets, scripts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/status.css') }}" type='text/css' media="screen, print">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YRMRTNJFRP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YRMRTNJFRP');
    </script>
</head>

<body style='background-color:#242629;' id='body'>
    {% extends "default/base.html" %} {% block content %}
    <div class='container-sm' style='margin-top: 20px; color: #fffffe;'>
        <h1 class='text-center'>What is Dredd?</h1>
        <p class='text-center'><strong>Dredd is a multipurpose Discord bot that is aiming to become one of the best Discord Bots on the whole platform. Dredd was created back in January 2020 and since then it has reached over {{ user_count }} users
                and
                {{ guild_count }} servers.</strong></p>
        <h1 class='text-center' id='admins' style='margin-top: 15px;'>Dredd's Admin Team</h1>
        <div class='card text-white mb-3 border-darker justify-content-center' style='margin-top: 10px; margin-bottom: 10px; background-color: #16161a;'>
            <div class='card-body'>
                <div class="media">
                    <img class="mr-3" width="64" height="64" src="{{ moksej.avatar.url }}" alt="{{ moksej }}'s avatar" style="margin: auto; border-radius: 50%; animation: {{ moksej.status }} 3s infinite !important;"
                         title="{{ moksej.name }} is {{ 'idle' if moksej.status == discord.Status.idle else 'on do not disturb' if moksej.status == discord.Status.dnd else 'online' if moksej.status == discord.Status.online else 'offline' }}">
                    <div class="media-body">
                        <h5 class="mt-1"><a href='https://discordrep.com/u/{{ moksej.id }}'>{{ moksej }}</a> <i class="fas fa-crown" title="Dredd's Owner" style='color: #faa626'></i>{% if moksej.id in on_leave %}
                            <i class="fas fa-sign-out-alt" title='On Leave' style='color: #CC3333;'></i> {% endif %}</h5>
                        <p>Hey, I'm Moksej! I enjoy listening to music, developing stuff.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='card text-white mb-3 border-darker justify-content-center' style='margin-top: 10px; margin-bottom: 10px; background-color: #16161a;'>
            <div class='card-body'>
                <div class="media">
                    <img class=" mr-3" width="64" height="64" src="{{ zenpa.avatar.url }}" alt="{{ zenpa }}'s avatar" style="margin: auto; border-radius: 50%; animation: {{ zenpa.status }} 3s infinite !important;"
                         title="{{ zenpa.name }} is {{ 'idle' if zenpa.status == discord.Status.idle else 'on do not disturb' if zenpa.status == discord.Status.dnd else 'online' if zenpa.status == discord.Status.online else 'offline' }}">
                    <div class="media-body">
                        <h5 class="mt-1"><a href='https://discordrep.com/u/{{ zenpa.id }}'>{{ zenpa }}</a> <i class="fas fa-tools" title="Dredd's Admin" style='color: #7289da'></i>{% if zenpa.id in on_leave %}
                            <i class="fas fa-sign-out-alt" title='On Leave' style='color: #CC3333;'></i> {% endif %}</h5>
                        Hi, I'm Zenpa. I'm a graphic designer and software developer.
                    </div>
                </div>
            </div>
        </div>
        <div class='card text-white mb-3 border-darker justify-content-center' style='margin-top: 10px; margin-bottom: 10px; background-color: #16161a;'>
            <div class='card-body'>
                <div class="media">
                    <img class="mr-3" width="64" height="64" src="{{ duck.avatar.url }}" alt="{{ duck }}'s avatar" style="margin: auto; border-radius: 50%; animation: {{ duck.status }} 3s infinite !important;"
                         title="{{ duck.name }} is {{ 'idle' if duck.status == discord.Status.idle else 'on do not disturb' if duck.status == discord.Status.dnd else 'online' if duck.status == discord.Status.online else 'offline' }}">
                    <div class="media-body">
                        <h5 class="mt-1"><a href='https://discordrep.com/u/{{ duck.id }}'>{{ duck }}</a> <i class="fas fa-tools" title="Dredd's Admin" style='color: #7289da'></i>{% if duck.id in on_leave %}
                            <i class="fas fa-sign-out-alt" title='On Leave' style='color: #CC3333;'></i> {% endif %}</h5>
                        <p>Hi, I'm DuckMasterAl! I develop discord bots, like <a href="https://quacky.xyz">Quacky Bot</a>, and love Ducks <img style="display: inline; vertical-align: -4.5px; width: 20px; height: 20px;" src="https://duck.elixi.re/i/25gh.png?raw=true"
                                alt="Duck Emoji" /></p>
                    </div>
                </div>
            </div>
        </div>
        <h1 class='text-center' id='admins' style='margin-top: 15px;'>Dredd's Staff Team</h1>
        <div class='row d-flex justify-content-center flex-left'>
            {% for member in support %}
            <div class='col-md-6'>
                <div class='card text-white mb-3 border-darker justify-content-center' style='margin-top: 10px; margin-bottom: 10px; background-color: #16161a;'>
                    <div class='card-body'>
                        <div class="media">
                            <img class="mr-3" width="64" height="64" src="{{ member.avatar.url }}" alt="{{ member }}'s avatar"
                                 style="margin: auto; border-radius: 50%; animation: {{ member.status }} 3s infinite !important;" title="{{ member.name }} is {{ 'idle' if member.status == discord.Status.idle else 'on do not disturb' if member.status == discord.Status.dnd else 'online' if member.status == discord.Status.online else 'offline' }}">
                            <div class="media-body">
                                <h5 class="mt-3"><a href='https://discordrep.com/u/{{ member.id }}'>{{ member }}</a> <i class="fas fa-certificate" title="Dredd's Support Member" style='color: #7289da'></i> {% if member.id in on_leave %}
                                    <i class="fas fa-sign-out-alt" title='On Leave' style='color: #CC3333;'></i> {% endif %}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> {% endblock %}
</body>

</html>
