<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dredd | Affiliates</title>
    <link rel="icon" href="{{ icon }}">
    <!-- Discord Stuff -->
    <meta property="og:title" content="Dredd | Affiliates">
    <meta property="og:description" content="Dredd's affiliates (partners)">
    <meta property="og:image" itemprop="image" content="{{ icon }}">
    <meta property="og:locale" content="en_US">
    <meta name="theme-color" content="{{ color }}">
    <!-- Style sheets, scripts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YRMRTNJFRP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YRMRTNJFRP');
    </script>
</head>

<body style='background-color: #818CF8;' id='body'>
    {% extends "default/base.html" %} {% block content %}
    <div class='container' style='margin-top: 10px'>
        <div class="card bg-dark text-white">
            <div class="card-header text-center">
                <i class="fas fa-star"></i> Featured Bot!
            </div>
            <div class="card-body">
                <h2 class='card-title'>
                    <div class='media'>
                        <img class=" mr-3" width="64" height="64" src="{{ top_partner['bot'].avatar_url }}" alt="{{ top_partner['bot'] }}'s avatar" style='margin: auto; border-radius: 50%;'>
                        <div class='media-body'>
                            <p class='mt-2'>{{ top_partner['bot'] }}</p>
                        </div>
                    </div>
                </h2>
                <div class="card-text">
                    {{ top_partner['html'] | safe }}
                    <a href="{{ top_partner['website'] }}" class="btn btn-primary text-center" style='width: 100%'>Go to {{ top_partner['bot'].name }}'s site</a>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class='container' style='margin-top: 10px; margin-bottom: 10px;'>
        {% for partner in all_partners %}
        <div class='card bg-dark text-white justify-content-center' style='margin-top: 10px; margin-bottom: 10px;'>
            <div class='card-body'>
                <div class="media">
                    <img class=" mr-3" width="64" height="64" src="{{ partner['bot'].avatar_url }}" alt="{{ partner['bot'] }} avatar" style='border-radius: 50%;'>
                    <div class="media-body">
                        <h5 class="mt-0"><a href="{{ partner['website'] }}">{{ partner['bot'] }}</a></h5>
                        {{ partner['msg'] }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}
</body>

</html>
