<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dredd | Staff Applications</title>
    <link rel="icon" href="{{ icon }}">
    <!-- Discord Stuff -->
    <meta property="og:title" content="Dredd | Staff applications"> {% if apps_closed %}
    <meta property="og:description" content="Applications are currently closed, sorry for the inconvenience."> {% elif not apps_closed %}
    <meta property="og:description" content="Apply to become staff member at Dredd!"> {% endif %}
    <meta property="og:image" itemprop="image" content="{{ icon }}">
    <meta property="og:locale" content="en_US">
    <meta name="theme-color" content="{{ color }}">
    <!-- Style sheets, scripts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body style='background-color: #818CF8;' id='body'>
    {% extends "default/base.html" %} {% block content %}
    <div class='container container-shadow' style='margin-top: 10px; margin-bottom: 10px;'>
        {% if logged_in and not submitted and not apps_closed and 'Dredd Support' in guilds or (apps_closed and is_staff) %}
        <div class='card text-white bg-dark'>
            <div class='card-body'>
                <form class="was-validated" style='margin-top: 5px;' method='POST' action='?submitted=true'>
                    <p class='text-center'><strong>Before starting, please confirm that you meet the following requirements:</strong></p>
                    <ul>
                        <li>You're at least 13 years of age or the <a href='https://support.discord.com/hc/en-us/articles/360040724612-Why-is-Discord-asking-for-my-birthday-' style='color: white'>required age</a> to use Discord in your country</li>
                        <li>You understand and speak English well.</li>
                        <li>You're unbiased. (You won't give special treatment to another person because they're your friend)</li>
                        <li>You will not share staff conversations with anyone outside the staff team</li>
                        <li>You will not abuse your powers</li>
                    </ul>

                    <div class="col-xs-2" style='text-align: center;'>
                        <label class="custom-control text-center" onmouseover="" style="cursor: pointer;">
                                <input type="checkbox" onmouseover="" style="cursor: pointer;" required> I confirm</label>
                    </div>
                    <div class='card-body' id='application'>
                        <div class="mb-3">
                            <label for="validationTextarea">Why do you want to become a staff member?</label>
                            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="I want to become staff because ...." name="reason" minlength="100" required></textarea>
                        </div>
                        <hr style='background-color: white;'>
                        <div class="mb-3">
                            <label for="validationTextarea">How old are you?</label>
                            <input type="number" class="form-control" placeholder='18' name="age">
                        </div>
                        <hr style='background-color: white;'>
                        <div class="mb-3">
                            <label for="validationTextarea">Do you have any experience being staff?</label>
                            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Yes, I have experience in ....." name="experience" minlength="50" required></textarea>
                        </div>
                        <hr style='background-color: white;'>
                        <div class="mb-3">
                            <label for="validationTextarea">What languages do you speak?</label>
                            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="I speak ...." name="languages" required></textarea>
                        </div>
                        <hr style='background-color: white;'>
                        <div class="mb-3">
                            <label for="validationTextarea">What country do you reside in and what is your timezone?</label>
                            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="I reside in Lithuania and my timezone is UTC+3" name="reside" required></textarea>
                        </div>
                        <hr style='background-color: white;'>
                        <div class="mb-3">
                            <label for="validationTextarea">Why should we choose you over another applicant?</label>
                            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="You should choose me over another applicant because ...." name="choose" minlength="100" required></textarea>
                        </div>
                        <hr style='background-color: white;'>
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-3 pt-0">Is Dredd open sourced?</legend>
                                <div class="col-sm-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="openSrc" id="openSrcYes" value="Yes" required onmouseover="" style="cursor: pointer;">
                                        <label class="form-check-label" for="openSrcYes" onmouseover="" style="cursor: pointer;">
                                                Yes
                                                </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="openSrc" id="openSrcNo" value="No" onmouseover="" style="cursor: pointer;">
                                        <label class="form-check-label" for="openSrcNo" onmouseover="" style="cursor: pointer;">
                                                No
                                                </label>
                                    </div>
                                </div>
                            </div>
                            <hr style='background-color: white;'>
                            <div class="row">
                                <legend class="col-form-label col-sm-3 pt-0">Does Dredd have a web-dashboard?</legend>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="webdash" id="DashYes" value="Yes" required onmouseover="" style="cursor: pointer;">
                                        <label class="form-check-label" for="DashYes" onmouseover="" style="cursor: pointer;">
                                                Yes
                                                </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="webdash" id="DashNo" value="No" onmouseover="" style="cursor: pointer;">
                                        <label class="form-check-label" for="DashNo" onmouseover="" style="cursor: pointer;">
                                                No
                                                </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="webdash" id="DashUnreleased" value="Yes, but not released" onmouseover="" style="cursor: pointer;">
                                        <label class="form-check-label" for="DashUnreleased" onmouseover="" style="cursor: pointer;">
                                                Yes, but it's not released
                                                </label>
                                    </div>
                                </div>
                            </div>
                            <hr style='background-color: white;'>
                            <div class="row">
                                <legend class="col-form-label col-sm-3 pt-0">Can you send NSFW stuff in the server?</legend>
                                <div class="col-sm-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="nsfw" id="NSFWYes" value='Yes' required onmouseover="" style="cursor: pointer;">
                                        <label class="form-check-label" for="NSFWYes" onmouseover="" style="cursor: pointer;">
                                                Yes
                                                </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="nsfw" id="NSFWNo" value='No' onmouseover="" style="cursor: pointer;">
                                        <label class="form-check-label" for="NSFWNo" onmouseover="" style="cursor: pointer;">
                                                No
                                                </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <hr style='background-color: white;'>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="validationTextarea">A member is mini-modding, what would you do?</label>
                                <textarea class="form-control is-invalid" id="validationTextarea" placeholder="I ...." minlength="30" name='mini-mod' required></textarea>
                            </div>
                        </div>
                        <hr style='background-color: white;'>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="validationTextarea">You punished the wrong member, what do you do?</label>
                                <textarea class="form-control is-invalid" id="validationTextarea" placeholder="I ...." minlength="30" name='wrong-member' required></textarea>
                            </div>
                        </div>
                        <hr style='background-color: white;'>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="validationTextarea">User opened a ticket and has concerns about the data stored, what do you do?</label>
                                <textarea class="form-control is-invalid" id="validationTextarea" placeholder="I ..." minlength="30" name='privacy' required></textarea>
                            </div>
                        </div>
                        <hr style='background-color: white;'>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="validationTextarea">User opened a ticket and wants to partner their bot or server, what do you do?</label>
                                <textarea class="form-control is-invalid" id="validationTextarea" placeholder="I ..." minlength="30" name='partner' required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class='row d-flex justify-content-center flex-left' style='margin-bottom: 10px;'>
                        <div class="h-captcha" data-sitekey="3308551d-a977-4133-97aa-597fdd88e1d9" data-theme='dark'></div>
                    </div>
                    <script src="https://hcaptcha.com/1/api.js" async defer></script>
                    <button type="submit" class="btn btn-primary mb-3 mx-auto d-block"><i class="fas fa-plus "></i> Submit</button>

                </form>
            </div>
        </div>
        {% elif not logged_in %}
        <h3 class='text-center'><strong>Please login to submit an application.</strong></h3>
        {% elif logged_in and submitted and not saw_success and not apps_closed %}
        <h3 class='text-center'><strong>Thank you for submitting your application, we'll take a look at it shortly.</strong></h3>
        {% elif logged_in and submitted and saw_success and not apps_closed %}
        <h3 class='text-center'><strong>You've already submitted your application. Please give us time to review your application.</strong></h3>
        {% elif 'Dredd Support' not in guilds %}
        <h3 class='text-center'><strong>Join <a href='/support'>the support server</a> to continue.</strong></h3>
        {% elif apps_closed %}
        <h3 class='text-center'><strong>Applications are currently closed, sorry for the inconvenience.</strong></h3>
        {% endif %}

    </div>
    {% endblock %}
</body>

</html>