<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dredd | Discord Bot</title>
    <link rel="icon" href="{{ icon }}">
    <!-- Discord Stuff -->
    <meta property="og:title" content="Dredd">
    <meta property="og:description" content="Dredd is a multipurpose bot that will provide security, fun, music to your *dead* server">
    <meta property="og:image" itemprop="image" content="{{ icon }}">
    <meta property="og:locale" content="en_US">
    <meta name="theme-color" content="{{ color }}">
    <!-- Style sheets, scripts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/status.css') }}" type='text/css' media="screen, print">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta2/css/all.css">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YRMRTNJFRP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YRMRTNJFRP');
    </script>
</head>

<body style='background-color:#242629;' id='body'>
    {% extends "default/base.html" %} {% block content %}
    <div class="container container-shadow" style="margin-bottom: 20px;">
        <div class="row" style='margin-top: 30px;'>
            <div class="col-md-5 text-center">
                <span title="I am currently {{ 'idle' if dredd.status == discord.Status.idle else 'on do not disturb' if dredd.status == discord.Status.dnd else 'online' if dredd.status == discord.Status.online else 'offline' }}">
                        <img src="{{ icon }}" id="main-icon" width='250px' height="250px" style="border-radius: 50%; border: 3px solid
                    {{ '#faa61a' if dredd.status == discord.Status.idle else '#f04747' if dredd.status == discord.Status.dnd else '#43b581' if dredd.status == discord.Status.online else '#747f8d' }}"></span>
            </div>
            <div class="col-md-6 text-center" id='middle-text'>
                <h1 style="text-align: center; color: #fffffe">Hi, I'm Dredd!</h1>
                <h3 style="color: #fffffe">I'm a multipurpose Discord bot, that is aiming to become one of the best and non-premium bots amongst other Discord bots.<br>Currently watching over
                    <b>{{ user_count }}</b> users and
                    <b>{{ guild_count }}</b> servers.</h3>
            </div>
        </div>
        {% if staff %}
        <div class='container-md' style='max-width: 1150px;'>
            <div class="card text-white mb-3" style="margin-block: 50px; background-color: #16161a;">
                <div class="card-header text-center">
                    <strong><i class="fas fa-newspaper"></i> Staff Applications</strong>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Requirements are simple:</h5>
                    <ul>
                        <li>You're at least 13 years of age or the <a href='https://support.discord.com/hc/en-us/articles/360040724612-Why-is-Discord-asking-for-my-birthday-' style='color: white'>required age</a> to use Discord in your country</li>
                        <li>You understand and speak English well.</li>
                        <li>You're unbiased. (You won't give special treatment to another person because they're your friend)</li>
                        <li>You will not share staff conversations with anyone outside the staff team</li>
                        <li>You will not abuse your powers</li>
                    </ul>
                    <a href="/apply" class="btn btn-primary text-center" style="width: 100%;">Apply Now!</a>
                </div>
            </div>
        </div>
        {% endif %}
        <div class='container-md' style='max-width: 1150px;'>
            <div class="card text-white mb-3" style="margin-block: 50px; background-color: #16161a;">
                <div class="card-header text-center">
                    <strong><i class="fas fa-newspaper"></i> Leave a message</strong>
                </div>
                <div class="card-body">
                    <p class="card-title text-center">If you've used and enjoyed (or not) Dredd, feel free to leave a message or share your memories with Dredd. It will be displayed publicly after the shutdown
                        .</p>
                    {% if user %}
                    <form action="/message" method="post">
                        <div class="mb-3">
                            <label for="username">Your name</label>
                            <textarea class="form-control" id="username" placeholder="Moksej#3335" name="username" required
                                      style="background-color: #313036; color: #fffffe; border:none;"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="usermessage">Your message</label>
                            <textarea class="form-control" id="usermessage" placeholder="Dredd has been one of my favorite bots ..." name="message" maxlength="100" required
                                      style="background-color: #313036; color: #fffffe; border:none;"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mb-3 mx-auto d-block"><i class="fas fa-plus "></i> Submit</button>
                    </form>
                    {% else %}
                    <h4>You must be logged in to submit a message. (Thank CrytoFak for that. CrytoFak - this isn't a place for advertisements, stop it.)</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div> {% endblock %}
</body>

</html>
