<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dredd | Invite</title>
    <link rel="icon" href="{{ icon }}">
    <!-- Discord Stuff -->
    <meta property="og:title" content="Dredd | Invite">
    <meta property="og:description" content="Unfortunately, at this time you cannot invite Dredd to your server for {{ reason }}">
    <meta property="og:image" itemprop="image" content="{{ icon }}">
    <meta property="og:locale" content="en_US">
    <meta name="theme-color" content="{{ color }}">
    <!-- Style sheets, scripts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta2/css/all.css">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YRMRTNJFRP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YRMRTNJFRP');
    </script>

    <!-- Redirect if not logged in -->
    {% if not user and allow_invite %}
    <meta http-equiv="refresh" content="0;url=https://discord.com/oauth2/authorize?client_id=667117267405766696&scope=bot&permissions=485977335&redirect_uri=https%3A%2F%2Fdiscord.gg%2Ff3MaASW&response_type=code" /> {% endif %}
</head>

<body style='background-color:#242629;' id='body'>
    {% extends "default/base.html" %} {% block content %}{% if not allow_invite %}
    <div class='container text-center'>
        <h3>Unfortunately, at this time you cannot invite Dredd.</h3>
        <p><strong>Reason:</strong> {{ reason | safe }}</p>
    </div>
    {% endif %} {% if user and allow_invite %}
    <div class='container' style='margin-top: 10px; margin-bottom: 10px;'>
        <div class='card-body text-white'>
            {% for guild in guilds %} {% if dict(guild.permissions)['manage_guild'] and not bot.get_guild(guild.id) %}
            <div class='col'>
                <div class='card text-white mb-3 border-darker justify-content-center' style='margin-top: 10px; margin-bottom: 10px;background-color: #16161a;'>
                    <div class='card-body'>
                        <div class="media">
                            {% if guild.icon_url %}
                            <img class="mr-3" width="64" height="64" src="{{ guild.icon_url }}" alt="{{ guild.name }}'s avatar" style="margin: auto; border-radius: 50%;"> {% endif %}
                            <div class="media-body">
                                <h5 class="mt-1">{{ guild.name }}</h5>
                                <a class='btn text-white' style='width: 100%;background-color: #5865F2;' href='/invite/{{ guild.id }}'>Invite me to {{ guild.name }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endif %} {% endfor %}
        </div>
    </div> {% endif %} {% if allow_invite and not user %}
    <a class='text-center text-white' href='https://discord.com/oauth2/authorize?client_id=667117267405766696&scope=bot&permissions=485977335&redirect_uri=https%3A%2F%2Fdiscord.gg%2Ff3MaASW&response_type=code'>
    Click here if you're not being redirected.
    </a> {% elif allow_invite and user %}
    <a class='text-center text-white' style='color: black'
       href='https://discord.com/oauth2/authorize?client_id=667117267405766696&scope=bot&permissions=477588727&redirect_uri=https%3A%2F%2Fdiscord.gg%2Ff3MaASW&response_type=code'>
        Click here if you want to choose yourself (even though all the options are listed here)
    </a> {% endif %} {% endblock %}
</body>

</html>
